fastapi
uvicorn
sqlalchemy
psycopg2-binary
pydantic[email]
python-dotenv
pandas
ultralytics
mlflow
dvc
pillow
python-multipart
deepface
mtcnn
pgvector
numpy==1.26.4
tensorflow
tf-keras
https://github.com/Gourieff/Assets/raw/main/Insightface/insightface-0.7.3-cp311-cp311-win_amd64.whl
onnxruntime
# =======
python-multipart
